*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.main-container{
  width:auto;
  height: 100vh;
  background-color:hsl(226, 43%, 10%) ;
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
}

.left-container{
    width:200px;
    height:400px;
    background-color: hsl(235, 46%, 20%);
}
body{
    width:auto;
    height: 100vh;
}

.embedded-container{
    width:200px;
    height:250px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
}

.outside-container{
    width:200px;
    height:180px;
    background-color: aquamarine;
    position: relative;
    border-radius: 8px;
}

.inside-container{
    width:200px;
    height:150px;
    background-color: brown;
    position: absolute;
    bottom:0;
    background-color:hsl(235, 46%, 20%);
    border-radius: 8px;
}

.right-container{
    width:700px;
    height:400px;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.upper-container{
    display: flex;
    gap:30px;
}

.bottom-container{
    display: flex;
    gap:30px;
}

#container1{
    background-color: hsl(15, 100%, 70%);
    background-image: url(images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: top 0px right 5px;
    background-size: 40px;
}

#container2{
    background-color: hsl(195, 74%, 62%);
    background-image: url(images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: top 0px right 5px;
    background-size: 40px;
}

#container3{
    background-color: hsl(348, 100%, 68%);
    background-image: url(images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: top 0px right 5px;
    background-size: 40px;
}

#container4{
    background-color: hsl(145, 58%, 55%);
    background-image: url(images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: top 0px right 5px;
    background-size: 40px;
}

#container5{
    background-color: hsl(264, 64%, 52%);
    background-image:url(images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: top 0px right 5px;
    background-size: 40px;
}

#container6{
    background-color: hsl(43, 84%, 65%);
    background-image: url(images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: top 0px right 5px;
    background-size: 40px;
}

